body {
    background-color: white;
    font-family: 'Staatliches', cursive; 
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* student container */
.student-container {
    display: flex;
    background-color: lightgrey;
    padding: 0 1em;
    max-width: 500px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .8);
    margin: 1em;
}


/* picture box */
.picture-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    max-width: 200px;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
}

.name {
    font-family: serif;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: .15em;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
}
  
a {
    text-decoration: none;
    font-size: 2.2em;
    color: black;
}

.icon {
    margin: 10px;
}
  
button:hover, a:hover {
    opacity: 0.5;
}

/* details container */
.details-container {
    width: 300px;
    padding: 1em;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas:
    "labels answers"
    "about about";
    font-size: 1.8em;
    grid-gap: 1em;
    justify-content: space-around;
}

.labels {
    grid-area: labels;
    text-align: right;
}

.answers {
    grid-area: answers;
    text-align: center;
}

.about {
    text-align: center;
    grid-area: about;
    justify-content: start;
    padding: 0 1em;
}

#mariaProfile {
    background-color: rgb(192, 250, 247);
    color: rgb(5, 52, 139);
}

#mariaImage {
    background-color: rgb(159, 250, 245);
    color: rgb(3, 43, 117);
}

#mariaContact {
    background-color: darkblue;
}

/*Luke's Stuff*/
#lmSutter {
    background: #252926;
    padding: 4em;
}

#lmSutter * {
    color: white;
}

#lmSutter p {
    letter-spacing: 2px;;
}

#lmSutter .picture-container {
    box-shadow: grey 0px 0px 8px;
}

#lmSutter button {
    background: #6f888a;
    color: black;
    width: auto;
    padding: .5em 1em;
}

#lmSutter .details-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#lmSutter .quick-info {
    display: flex;
    justify-content: space-around;
}

/*Marina's stuff*/
#marinaProfile {
    background-color: #FF8D85;
    color: #FF2E1F;
}

#marinaImage {
    background-color: #FF8D85;
    color: #FF2E1F;
}

#marinaContact {
    background-color: #FF2E1F;
}

#marinaDetails {
    height: 450px;
    margin: auto;
    padding-top: 0;
    margin-top: 85px;
}

#marinaDetails .quick-info {
    display: flex;
    margin-left: 50px;
}

#marinaDetails .labels {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

#marinaDetails .answers {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}